// ------ Config for Snapshot ------

// ------ colors ------
$white: #fff;

// ------ container settings ------
$container-width: 88%;
$container-max-width: 40em;

// ------ image settings ------
$img-rounded-border-radius: 352941176em;
$img-border: .071428571em solid $white;
$img-box-shadow: 0 .071428571em .176470588em rgba(0, 0, 0, 0.1);
$img-polaroid-padding: .235294118em;
$img-polaroid-bg-color: $white;