// ----------------------------------------
// ------ import config ------
// ----------------------------------------
@import "config";

/* =============================================================

    Social Sharing v2.0
    Social sharing links and buttons without the bloat by Chris Ferdinandi.
    http://gomakethings.com

    Free to use under the MIT License.
    http://gomakethings.com/mit/

 * ============================================================= */


/* =============================================================
    RESPONSIVE RESET
    Replace with your own.
 * ============================================================= */

@-webkit-viewport { width: device-width; zoom: 1.0; }
   @-moz-viewport { width: device-width; zoom: 1.0; }
    @-ms-viewport { width: device-width; zoom: 1.0; }
     @-o-viewport { width: device-width; zoom: 1.0; }
        @viewport { width: device-width; zoom: 1.0; }

html { overflow-y: auto; }

img, audio, video, canvas { max-width: 100%; }

/*  Sets Body Width */
.container {
    max-width: $container-max-width;
    width: $container-width;
    margin-left: auto;
    margin-right: auto;
}





/* =============================================================
    BASE BUTTON STYLES
    These are included already with Kraken.
    Only needed if you're using another framework.
 * ============================================================= */

.btn, %btn {
    display: inline-block;
    font-size: $btn-font-size;
    padding: $btn-padding;
    line-height: $btn-line-height;
    font-weight: $btn-font-weight;
    background-color: $gray;
    border: $btn-border;
    border-radius: $btn-border-radius;
    margin-left: $btn-margin-left;
    margin-bottom: $btn-margin-bottom;
        &:active {
            -webkit-box-shadow: $btn-active-box-shadow;
                    box-shadow: $btn-active-box-shadow;
            outline: 0;
        }
}

.btn,
%btn,
.btn:hover,
%btn:hover,
a .btn:hover {
    color: $btn-hover-color;
}

.btn:hover,
%btn:hover,
.btn.active,
%btn.active,
a .btn:hover {
    background-color: $btn-hover-bgcolor;
    border-color: $btn-hover-border;
    text-decoration: none;
}





/* =============================================================
    SOCIAL SHARING BUTTONS
    Styling for social sharing buttons.
 * ============================================================= */

/*  Twitter button color */
.btn-tweet,
%btn-tweet {
    background-color: $btn-tweet-bg-color;
    border-color: $btn-tweet-border-color;
}

/*  Twitter button color on hover */
.btn-tweet:hover,
%btn-tweet:hover,
a .btn-tweet:hover {
    background-color: $btn-tweet-bg-hover-color;
    border-color: $btn-tweet-border-hover-color;
}

/*  Facebook button color */
.btn-facebook,
%btn-facebook {
    background-color: $btn-facebook-bg-color;
    border-color: $btn-facebook-border-color;
}

/*  Facebook button color on hover */
.btn-facebook:hover,
%btn-facebook:hover,
a .btn-facebook:hover {
    background-color: $btn-facebook-bg-hover-color;
    border-color: $btn-facebook-border-hover-color;
}

/*  Google button color */
.btn-google,
%btn-google {
    background-color: $btn-google-bg-color;
    border-color: $btn-google-border-color;
}

/*  Google button color on hover */
.btn-google:hover,
%btn-google:hover,
a .btn-google:hover {
    background-color: $btn-google-bg-hover-color;
    border-color: $btn-google-border-hover-color;
}

/*  LinkedIn button color */
.btn-linkedin,
%btn-linkedin {
    background-color: $btn-linkedin-bg-hover-color;
    border-color: $btn-linkedin-border-color;
}

/*  Facebook button color on hover */
.btn-linkedin:hover,
%btn-linkedin:hover,
a .btn-linkedin:hover {
    background-color: $btn-linkedin-bg-hover-color;
    border-color: $btn-linkedin-border-hover-color;
}
