// ----------------------------------------
// -------- Social Settings ----------
// ----------------------------------------


// ----------------------------------------
// ------ color settings ------
// ----------------------------------------

$gray: #808080;

// ----------------------------------------
// ------ demo container settings ------
// ----------------------------------------

$container-width: 88%;
$container-max-width: 40em;

// ----------------------------------------
// // ------ Button Settings ------
// ----------------------------------------

// ----------------------------------------
// ------ button color -------
// ----------------------------------------
$btn-hover-color: #ffffff;
$btn-hover-bgcolor: #595959;
$btn-hover-border: #595959;

// ----------------------------------------
// // ------ other-button-settings -------
// ----------------------------------------

$btn-font-size: .882352941em;
$btn-padding: .4em .666666667em;
$btn-line-height: 1.333333333;
$btn-font-weight: normal;
$btn-border: .071428571em solid $gray;
$btn-border-radius: .235294118em;
$btn-margin-left: .3em;
$btn-margin-bottom: .3em;
$btn-active-box-shadow: inset 0 .142857143em .235294118em rgba(0, 0, 0, 0.15), 0 .071428571em .142857143em rgba(0, 0, 0, 0.05);


// ----------------------------------------
// // ------ Social Sharing Buttons -------
// ----------------------------------------

// ----------------------------------------
// // ------ Twitter Button -------
// ----------------------------------------

$btn-tweet-bg-color: #41b7d8;
$btn-tweet-border-color: #41b7d8;
$btn-tweet-bg-hover-color: #3697b2;
$btn-tweet-border-hover-color: #3697b2;

// ----------------------------------------
// // ------ Facebook Button -------
// ----------------------------------------

$btn-facebook-bg-color: #3b5997;
$btn-facebook-border-color: #3b5997;
$btn-facebook-bg-hover-color: #2c4370;
$btn-facebook-border-hover-color: #2c4370;

// ----------------------------------------
// // ------ Google Button -------
// ----------------------------------------

$btn-google-bg-color: #d64937;
$btn-google-border-color: #d64937;
$btn-google-bg-hover-color: #b03d2e;
$btn-google-border-hover-color: #b03d2e;

// ----------------------------------------
// // ------ LinkedIn Button -------
// ----------------------------------------


$btn-linkedin-bg-color: #0073b2;
$btn-linkedin-border-color: #0073b2;
$btn-linkedin-bg-hover-color: #005b8c;
$btn-linkedin-border-hover-color: #005b8c;